@model ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Administrator/Views/_Layout.cshtml";
}

<div class="box box-primary" style="width:400px;">
    <div class="box-header with-border">
        <h3 class="box-title">Reset password</h3>
        <br />
    </div>
   
    <br />
    <br />
    <form method="post" asp-action="ChangePassword" asp-controller="Administratori" class="myForm">


        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-group">
            <label for="CurrentPassword">Current password</label><br />
            <input type="password" asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            <br />
            @if (!String.IsNullOrEmpty(Model.ErroMessage))
            {
                <p>@Model.ErroMessage</p>
            }
          
        </div>

        <div class="form-group">
            <label for="NewPassword">New password</label><br />
            <input type="password" asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <label for="ConfirmPassword">Confirm password</label><br />
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <br />
        </div>
        <div class="box-footer">
            <input type="submit" class="myBtn" value="Spasi">
        </div>
    </form>
 </div>