@model DisableVM
@{
    ViewData["Title"] = "Disable";
    Layout = "~/Areas/Administrator/Views/_Layout.cshtml";
}

@if(!String.IsNullOrEmpty(Model.Message))
{
    <p>@Model.Message</p>
}

@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>@Model.ErrorMessage</p>
}

    <div class="box box-primary" style="width:400px;">
        <br />

        <form method="post" asp-action="Disable" asp-controller="Administratori" class="myForm">

            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="RoleId" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="CurrenRole">Trenutna rola</label><br />
                <input type="text" asp-for="Role" class="form-control" readonly />
            </div>
            <input type="submit" class="myBtn" value="Deaktiviraj">

        </form>
     
    </div>