@model List<Orders>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Client/Views/_Layout.cshtml";
}


<div class="box" style="width:1090px;">
    <div class="box-header">
        <h3 class="box-title">Narudzbe</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Datum narudzbe</th>
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {

                <tr>
                    <td>@x.OrderDate.ToShortDateString()</td>

                    <td style="float:inherit">
                        <a asp-action="Details" asp-controller="Narudzbe" asp-area="Client" asp-route-id="@x.Id" class="btn btn-primary"><i class="fa fa-cart-plus"></i>   </a>
                        <a asp-route-Id="@x.Id" asp-controller="Narudzbe" asp-action="RemoveOrder" asp-area="Client" class="btn btn-danger"><i class="fa fa-remove"></i> </a>

                    </td>
                  
                </tr>
                }



            </tbody>

        </table>

    </div>
    <br />

    <!-- /.box-body -->
    <br />
    <br />
</div>



