@model KategorijaListVM


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/_Layout.cshtml";
}



<div class="box" style="width:1090px;">
    <div class="box-header">
        <h3 class="box-title">Kategorije</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.categories)
                {

                    <tr>
                        <td>@x.Name</td>
                        @if (x.IsActive)
                        {
                            <td>Aktivna</td>
                        }
                        else
                        {
                            <td>Deaktivirana</td>
                        }

                        <td style="float:inherit">
                            <a href="/Administrator/Kategorije/Edit/@x.Id" class="btn btn-primary"><i class="fa fa-edit"></i>Edit</a>
                            <a href="/Administrator/Kategorije/Disable/@x.Id" class="btn btn-danger">Deaktiviraj</a>
                        </td>
                    </tr>
                }



            </tbody>

        </table>

    </div>
    <br />
    <a style="margin-left:15px;" href="/Administrator/Kategorije/Dodaj" class=" btn btn-primary"><i class="fa fa-plus"></i> Dodaj</a>

    <!-- /.box-body -->
    <br />
    <br />
</div>
